@charset "UTF-8";
* {
	margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
	/* line-height: 0.8rem; */
}

#demoscroll {
    position: relative;
}

article {
    position: relative;
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

.step {
    margin: 10px 0;
    background-color: rgba(255,0,255,0.2);
    color: #fff;
    height: 1200px;
}

.step.is-active {
    background-color: rgba(255,0,0,0.2);
    color: #3b3b3b;
}

.step p {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}

.listgroup{
    height: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

/*************/
canvas {
    position: absolute;
}

#haloword-pron { 
    background: url(chrome-extension://bhkcehpnnlgncpnefpanachijmhikocj/img/icon.svg) -94px -34px; 
}
#haloword-pron:hover { 
    background: url(chrome-extension://bhkcehpnnlgncpnefpanachijmhikocj/img/icon.svg) -111px -34px; 
}
#haloword-open { 
    background: url(chrome-extension://bhkcehpnnlgncpnefpanachijmhikocj/img/icon.svg) -94px -17px; 
}
#haloword-open:hover { 
    background: url(chrome-extension://bhkcehpnnlgncpnefpanachijmhikocj/img/icon.svg) -111px -17px; 
}
#haloword-close { 
    background: url(chrome-extension://bhkcehpnnlgncpnefpanachijmhikocj/img/icon.svg) -94px 0; 
}
#haloword-close:hover { 
    background: url(chrome-extension://bhkcehpnnlgncpnefpanachijmhikocj/img/icon.svg) -111px 0; 
}
#haloword-add { 
    background: url(chrome-extension://bhkcehpnnlgncpnefpanachijmhikocj/img/icon.svg) -94px -51px; 
}
#haloword-add:hover { 
    background: url(chrome-extension://bhkcehpnnlgncpnefpanachijmhikocj/img/icon.svg) -111px -51px; 
}
#haloword-remove { 
    background: url(chrome-extension://bhkcehpnnlgncpnefpanachijmhikocj/img/icon.svg) -94px -68px; 
}
#haloword-remove:hover { 
    background: url(chrome-extension://bhkcehpnnlgncpnefpanachijmhikocj/img/icon.svg) -111px -68px; 
}

#canvascontent{
    width: 100%;
    height: 100%;
    display:block;
    position: fixed;
}
